.autocomplete-container
{
	.autocomplete-sugestions-list
	{
		z-index: 1;
		padding: 0;
		background-color: white;
		position: absolute;
		top: 48px;
		box-shadow: 0 5px 20px 2px transparentize($color-soft-gray, 0.5);
	}
	.list-group
	{
		border-top: 0;

		.list-group-item
		{
			color: $color-main-gray;
			cursor: pointer;

			&:focus,
			&:hover
			{
				background-color: $color-light-orange;
				color: white;
			}
			p
			{
				font-size: $f-font-size-base;
				margin: 0;
			}
		}
	}
}