@import "compass/css3";
@import "compass/utilities";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,300italic,600italic,400,300,600,800);
//@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,600,800);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

/* variables */

// Colores

$color-main-blue: 			rgba(73,171,222,1);
$color-dark-blue: 			rgba(59,139,181,1);
$color-light-blue: 			rgba(79,202,248,1);
$color-soft-gray:			#ddd;
$color-light-gray:			#bbb;
$color-gray:				#999;
$color-main-gray:			#555;
$color-dark-gray:			#333;
$color-light-white:			rgba(255,255,255,0.3);

// Nav

$navbar-height: 			64px;

// Fuentes

$font-family-primary: 		'Open Sans', sans-serif;
$font-family-secondary: 	'Lora', serif;
$font-size-xxlarge:			$font-size-base * 2.67;				// 40px
$font-size-xlarge:			$font-size-base * 2; 				// 30px
$font-size-large:			$font-size-base * 1.6; 				// 24px
$font-size-medium:			$font-size-base * 1.33;				// 20px
$font-size-base: 			15px;								// 15px
$font-size-small:			$font-size-base * 0.85; 			// 13px
$font-size-xsmall:			$font-size-base * 0.8; 			// 11px
$text-shadow-image: 		0 2px 10px rgba(0, 0, 0, 0.1);

/* etiquetas */

body
{
	color: $color-dark-gray;
	font-family: $font-family-primary;
	font-size: $font-size-base;
	font-weight: 400;
}
footer
{
	background-color: $color-soft-gray;
	margin: 30px 0 0 0;
	padding: 20px 10px;
}
p
{
	padding: 0 !important;
}

/* id */

#icon-leg-vigente
{
	background: url('../images/icon_02.png') no-repeat 16px 14px;
}
#icon-leg-no-vigente
{
	background: url('../images/icon_01.png') no-repeat 16px 14px;
}
#landing-content
{
	margin-bottom: 30px;
}

/* clases */

.align-center
{
	text-align: center;
}
.align-left
{
	text-align: left;
}
.align-right
{
	text-align: right;
}
.article-description
{
	margin-top: 15px;
	margin-bottom: 20px;
}
.caret
{
	margin: 0 0 0 8px;
}
.form-base
{
	::-webkit-input-placeholder
	{
	    color:    $color-gray !important;
	}
	:-moz-placeholder
	{
	    color:    $color-gray !important;
	}
	::-moz-placeholder
	{
	    color:    $color-gray !important;
	}
	:-ms-input-placeholder
	{
	    color:    $color-gray !important;
	}

	fieldset
	{
		
		legend
		{
			border: none;
			font-size: $font-size-medium;
			font-weight: 600;
			margin: 0 0 10px 0;
		}
		select
		{
			option
			{
				color:    $color-gray !important;
			}
		}
	}
}
.form-lg
{
	::-webkit-input-placeholder
	{
	    display: inline-block;
	    font-size: $font-size-base !important;
	    padding: 2px 0 0 0;
	}
	:-moz-placeholder
	{
	    display: inline-block;
	    font-size: $font-size-base !important;
	    padding: 2px 0 0 0;
	}
	::-moz-placeholder
	{
	    display: inline-block;
	    font-size: $font-size-base !important;
	    padding: 2px 0 0 0;
	}
	:-ms-input-placeholder
	{
	    display: inline-block;
	    font-size: $font-size-base !important;
	    padding: 2px 0 0 0;
	}

	fieldset
	{
		label
		{
			font-size: $font-size-medium;
			font-weight: 300;
			margin: 0 0 10px 0;
		}
		legend
		{
			font-size: $font-size-large;
		}
	}
}
.heading
{
	background-color: $color-light-blue;
	color: white !important;
	margin: 0 0 30px 0;
	padding: 35px 0;

	h1
	{
		margin: 0;
	}
}
.navbar
{
	border: 0;
	font-size: $font-size-base;
	margin: 0;
}
.navbar-collapse
{
	@media (max-width: $grid-float-breakpoint)
	{
   		padding: 0;
   	}
}
.navbar-default
{
	background-color: $color-main-blue;

	.navbar-nav
	{
		margin: 0;

		li
		{
			a
			{
				color: white;
				cursor: pointer;
				padding: 20px;
			
				&:hover,
				&:focus,
				&:active
				{
					background-color: transparentize($color-dark-blue, 0.5);
					color: white;
				}
			}
		}
		> .open
		{
			> a
			{
				background-color: $color-dark-blue !important;
				color: white !important;
				
				&:hover,
				&:focus
				{
					background-color: $color-dark-blue;
					color: white;
				}
			}
		}
		.dropdown
		{
			.dropdown-menu
			{
				background-color: $color-dark-blue;
				border: none;
				box-shadow: none;
				padding: 0;

				li
				{
					border-bottom: 1px solid $color-light-white;

					&:last-child
					{
						border: 0;
					}
					a
					{
						color: white !important;
						padding: 14px 30px 14px 44px;

						&:hover,
						&:focus
						{
							background-color: rgba(255, 255, 255, 0.1) !important;
						}
					}
				}
			}
		}
	}
	.navbar-toggle
	{
		border: none;

		&:hover,
		&:focus
		{
			background-color: $color-main-blue;
		}

		.icon-bar
		{
			background-color: white;
		}
	}
}
.text-note
{
	color: $color-gray;
	font-size: $font-size-xsmall;
}
.text-p
{
	color: $color-main-gray;
	font-family: $font-family-secondary;
	font-size: $font-size-base !important;
	margin: 20px 0;
}
.title-heading
{
	font-size: $font-size-xxlarge !important;
	font-weight: 300;
}
.title-primary
{
	font-size: $font-size-xxlarge !important;
	font-weight: 600;
}
.title-secondary
{
	font-size: $font-size-xlarge;
	font-weight: 300;
}
.title-third
{
	font-size: $font-size-base;
	font-weight: 400;
}
.title-fourth
{
	font-size: $font-size-small;
	font-weight: 400;
}