@import "compass/css3";
@import "compass/utilities";
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,400,700,700);
//@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

/* etiquetas */

a
{
	cursor: pointer;
}
body
{
	color: $color-dark-gray;
	font-family: $f-font-family-primary;
	font-size: $f-font-size-base;
	font-weight: 400;
}
footer
{
	background-color: $color-soft-gray;
	margin: 30px 0 0 0;
	padding: 20px 10px;
}
p
{
	padding: 0 !important;
}
small
{
	font-size: $f-font-size-xsmall;
}
strong
{
	font-weight: 700;
}
ul
{
	list-style-type: none;
	padding: 0;
}

/* id */

#icon-leg-vigente
{
	background: url('../images/icon_02.png') no-repeat 16px 14px;
}
#icon-leg-no-vigente
{
	background: url('../images/icon_01.png') no-repeat 16px 14px;
}

/* clases */

.align-center
{
	text-align: center;
}
.align-left
{
	text-align: left;
}
.align-right
{
	text-align: right;
}
.border-bottom-gray
{
	border-top: none;
	border-bottom: 1px solid $color-soft-gray;
	margin: 20px 0 10px 0;
}
.caret
{
	margin: 0 0 0 8px;
}
.ellipsis
{
	overflow: hidden;
	text-overflow: ellipsis;
}
.filters-tags
{
	background-color: $color-main-gray;
	color: white;
	font-size: $f-font-size-small;
	position: relative;

	.fa-remove
	{
		display: inline-block;
		padding: 5px 5px 5px 10px;
		text-align: right;
	}
}
.font-secondary
{
	font-family: $f-font-family-secondary;
}
.form-base
{
	color: $color-dark-gray;

	::-webkit-input-placeholder
	{
	    color:    $color-gray !important;
	}
	:-moz-placeholder
	{
	    color:    $color-gray !important;
	}
	::-moz-placeholder
	{
	    color:    $color-gray !important;
	}
	:-ms-input-placeholder
	{
	    color:    $color-gray !important;
	}
	fieldset
	{
		legend
		{
			border: none;
			color: $color-dark-gray !important;
			margin: 0 0 10px 0;
		}
		.heading-third
		{
			margin: 15px 0 10px 0 !important;
		}
		.heading-fourth
		{
			font-weight: 400 !important;
			margin: 0 0 10px 0;
		}
	}
}
.form-control
{
	font-size: $f-font-size-base;
	line-height: 1.75;
}
.form-lg
{
	::-webkit-input-placeholder
	{
	    display: inline-block;
	    font-size: $f-font-size-base !important;
	    line-height: 1.5;
	    padding: 2px 0 0 0;
	}
	:-moz-placeholder
	{
	    display: inline-block;
	    font-size: $f-font-size-base !important;
	    line-height: 1.5;
	    padding: 2px 0 0 0;
	}
	::-moz-placeholder
	{
	    display: inline-block;
	    font-size: $f-font-size-base !important;
	    line-height: 1.5;
	    padding: 2px 0 0 0;
	}
	:-ms-input-placeholder
	{
	    display: inline-block;
	    font-size: $f-font-size-base !important;
	    line-height: 1.5;
	    padding: 2px 0 0 0;
	}
	fieldset
	{
		legend
		{
			color: $color-dark-gray !important;
			font-size: $f-font-size-large;
		}
	}
}
.heading
{
	background-color: $color-light-blue;
	color: white !important;
	margin: 0 0 30px 0;
	padding: 35px 0;

	h1
	{
		margin: 0;
	}
}
.heading-aside
{
	border-bottom: 1px solid $color-light-gray;
	color: $color-main-gray !important;
	line-height: 1.2;
	margin: 30px 0;
	padding: 0 0 10px 0;
}
.heading-primary
{
	font-size: $f-font-size-xxlarge !important;
	font-weight: 400;
}
.heading-book,
.heading-secondary
{
	font-size: $f-font-size-xlarge !important;
	font-weight: 400;
}
.heading-title,
.heading-large
{
	font-size: $f-font-size-large;
	font-weight:400;
}
.heading-chapter,
.heading-third
{
	font-size: $f-font-size-medium;
	font-weight: 400;
	margin: 0 0 10px 0;
}
.heading-section,
.heading-fourth
{
	font-size: $f-font-size-base;
	font-weight: 400;
}
.heading-fifth
{
	font-size: $f-font-size-small;
	font-weight: 400;
}
.input-group-lg
{
	.form-control
	{
		font-size: $f-font-size-base;
		line-height: 1.75;
	}
}
.main-aside
{
	margin: 30px 0 0 0;
}
.navbar
{
	border: 0;
	font-size: $f-font-size-base;
	margin: 0;
}
.navbar-default
{
	background-color: $color-main-blue;

	.navbar-collapse
	{
		@media (max-width: $grid-float-breakpoint)
		{
	   		padding: 0;
	   	}
	}
	.navbar-nav
	{
		margin: 0;

		li
		{
			a
			{
				color: white;
				cursor: pointer;
				line-height: 1.5;
				padding: 20px;
			
				&:hover,
				&:focus,
				&:active
				{
					background-color: transparentize($color-blue, 0.5);
					color: white;
				}
			}
		}
		> .open
		{
			> a
			{
				background-color: $color-blue !important;
				color: white !important;
				
				&:hover,
				&:focus
				{
					background-color: $color-blue;
					color: white;
				}
				@media (max-width: $grid-float-breakpoint-max)
				{
					border-bottom: 1px solid transparentize(white, 0.8);
				}
			}
		}
		.dropdown
		{
			.dropdown-menu
			{
				background-color: $color-blue;
				border: none;
				box-shadow: none;
				padding: 0;

				li
				{
					border-bottom: 1px solid transparentize(white, 0.8);

					&:last-child
					{
						border: 0;
					}
					a
					{
						color: white !important;
						padding: 14px 30px 14px 44px;

						&:hover,
						&:focus
						{
							background-color: transparentize(white, 0.8) !important;
						}
					}
					@media (max-width: $grid-float-breakpoint-max)
					{
						border-bottom: 0;
					}
				}
			}
		}
	}
	.navbar-toggle
	{
		border: none;

		&:hover,
		&:focus
		{
			background-color: $color-main-blue;
		}
		.icon-bar
		{
			background-color: white;
		}
	}
}
.nav-path-header
{
	p
	{
		margin: 30px 0 0 0;
	}
}
.references
{
	font-size: $f-font-size-xsmall;
}
.show-all
{
	border-top: 1px solid $color-light-gray;
	color: $color-gray;
	display: block;
	font-size: $f-font-size-small;
	margin: 10px 0;
	padding: 5px 0 0 0;

	&:focus,
	&:hover
	{
		color: $color-main-gray;
	}
}
.tag
{
	border: 0;
	border-radius: $border-radius-small;
	display: inline-block;
	margin: 5px 5px 5px 0;
	padding: 5px 10px;
}
.text-bold
{
	font-weight: 700 !important;
}
.text-note
{
	font-size: $f-font-size-small;
}
.text-p
{
	color: $color-gray;
	font-family: $f-font-family-secondary;
	font-size: $f-font-size-base !important;
	margin: 20px 0;
}
.text-p-small
{
	color: $color-gray;
	font-family: $f-font-family-secondary;
	font-size: $f-font-size-small !important;
	line-height: 1.2;
	margin: 5px 0;
}