/* variables */


/* etiquetas


/* id */

#consultas
{
	#file-upload
	{
		margin: 20px 0 0 0;

		p
		{
			color: $color-gray;
			font-style: italic;
			margin: 8px 0 0 0;
		}
		.progress
		{
			margin: 10px 0 0 0;
		}
	}
	.text-note
	{
		color: $color-gray;
	}
}

/* clases */
