/* variables */


/* etiquetas


/* id */

#jumbo-landing
{
	background: url('../images/login-sparl-01-1024x488.jpg') no-repeat 100%;
	background-size: cover;
	width: 100%;

	#jumbo-info
	{
		margin: 50px 0;
		text-align: center;
	}
	.container
	{
		h1
		{
			color: white;
			margin: 30px 0;
		}
		p
		{
			color: white;
			text-shadow: $text-shadow-image;
		}
	}
}
#landing-form-search
{
	background: white;
	border: 1px solid $color-light-gray;
	border-radius: $border-radius-base;
	padding: 15px;
}

/* clases */

.border-bottom-gray
{
	border-top: none;
	border-bottom: 1px solid $color-soft-gray;
}