/* variables */


/* etiquetas


/* id */

#landing
{
	#jumbo-info
	{
		margin: 105px 0 0 0;
		
		p
		{
			color: white;
			text-shadow: $text-shadow-image;
		}
		.title-heading
		{
			color: white !important;
			margin: 20px 0 0 0;
			padding: 15px 0;
		}
	}
	.btn
	{
		font-size: $font-size-base;
	}
	.container
	{
		.article-description
		{
			.title-secondary
			{
				color: $color-main-gray;
				padding: 10px 0;
				text-align: left;
			}
		}
	}
	.jumbotron
	{
		background: url('../images/login-sparl-01-1024x488.jpg') no-repeat 100%;
		background-size: cover;
		width: 100%;
	}
}
#landing-content
{
	margin-bottom: 30px;
}
#landing-form-search
{
	background: white;
	border: 1px solid $color-light-gray;
	border-radius: $border-radius-base;
	padding: 15px;

	.title-fourth
	{
		font-size: $font-size-small;
	}
}

/* clases */

.border-bottom-gray
{
	border-top: none;
	border-bottom: 1px solid $color-soft-gray;
}