#legislacion-related
{
	h3.heading-third
	{
		margin-top: 15px;
	}
	.list-group
	{
		margin-top: 15px;

		.list-item
		{
			p
			{
				margin-bottom: 5px;
			}
		}
	}
}
#legislacion-view-header
{
	border-top: 1px solid $color-main-gray;
	border-bottom: 1px solid $color-main-gray;
	margin-top: 15px;

	#icons-download
	{
		margin-top: 8px;

		.heading-fifth
		{
			color: $color-main-gray;
			display: inline-block;
			padding-right: 10px !important;
		}
	}
	#icons-share
	{
		.icon
		{
			color: $color-main-gray;
			font-size: $f-font-size-medium;
			padding: 10px;
		}
	}
}