/* variables */


/* etiquetas


/* id */

#normativa-filters
{
	margin: 8px 0 0 0;

	form
	{
		fieldset
		{

			legend
			{
				border-bottom: 1px solid $color-gray;
				padding: 0 0 5px 0;
				margin: 0 0 30px 0;
			}
		}
	}
}
#normativa-search
{
	#normativa-input-search
	{
		border-top: 0;
		border-right: 0;
		border-bottom: 2px solid $color-light-gray;
		border-left: 0;
		border-radius: 0;
		box-shadow: none;
		color: $color-main-gray;
		font-size: $font-size-large;
		font-weight: 300;
		line-height: 1;
	}
	::-webkit-input-placeholder
	{
		font-size: $font-size-large !important;
		font-weight: 300;
	}
	:-moz-placeholder
	{
		font-size: $font-size-large !important;
		font-weight: 300;
	}
	::-moz-placeholder
	{
		font-size: $font-size-large !important;
		font-weight: 300;
	}
	:-ms-input-placeholder
	{
		font-size: $font-size-large !important;
		font-weight: 300;
	}
}

/* clases */

.list-group
{
	ul
	{
		padding: 20px 0;
	}
	#list-header
	{
		background-color: $color-soft-gray;
		border-top: 1px solid $color-light-gray;
		border-bottom: 1px solid $color-light-gray;

		ul
		{
			li
			{
				a
				{
					color: $color-main-gray;
					font-weight: 600 !important;
				}
			}
		}
	}
	.list-item
	{
		border-bottom: 1px solid $color-light-gray;

		ul
		{
			li
			{
				a
				{
					color: $color-main-blue;
				}
			}
		}
	}
}