/* variables */


/* etiquetas


/* id */

#normativa-filters
{
	margin: 8px 0 0 0;

	form
	{
		legend
		{
			border-bottom: 1px solid $color-gray;
			padding: 0 0 5px 0;
			margin: 0 0 30px 0;
		}
	}
	#normativa-filters-tags
	{
		margin: 0 0 30px 0;
	}
}
#normativa-search
{
	#normativa-input-search
	{
		border: 0;
		border-radius: 0;
		box-shadow: none;
		color: $color-gray;
		font-size: $font-size-large;
		font-weight: 400;
		min-height: 40px;
		padding: 0;
		position: relative;
		bottom: -4px;
		width: 100%;
	}
	.form-group
	{
		border-bottom: 2px solid $color-light-gray;
		padding: 0 0 5px 0;
	}
	::-webkit-input-placeholder
	{
		color: $color-light-gray;
		font-size: $font-size-large !important;
	}
	:-moz-placeholder
	{
		color: $color-light-gray;
		font-size: $font-size-large !important;
	}
	::-moz-placeholder
	{
		color: $color-light-gray;
		font-size: $font-size-large !important;
	}
	:-ms-input-placeholder
	{
		color: $color-light-gray;
		font-size: $font-size-large !important;
	}
}

/* clases */

.list-group
{
	ul
	{
		padding: 20px 0;
	}
	#list-header
	{
		background-color: $color-soft-gray;
		border-top: 1px solid $color-light-gray;
		border-bottom: 1px solid $color-light-gray;

		ul
		{
			li
			{
				a
				{
					color: $color-main-gray;
					font-weight: 600 !important;
				}
			}
		}
	}
	.list-item
	{
		border-bottom: 1px solid $color-light-gray;

		ul
		{
			li
			{
				.title-fourth
				{
					margin-top: 0;
				}
				a
				{
					color: $color-main-blue;
				}
			}
		}
	}
}