/* variables */

// Colores

$color-dark-blue: 			#007092;
$color-blue:	 			#0092c2;
$color-main-blue: 			#00b4e1;
$color-light-blue: 			#3ccef0;
$color-soft-blue: 			#6edcf5;

$color-dark-gray:			#444;
$color-gray:				#666;
$color-main-gray:			#999;
$color-medium-gray:			#b9b9b9;
$color-light-gray:			#cfcfcf;
$color-soft-gray:			#eee;

$color-violet:				#8d6caa;
$color-light-violet:		#9f81b8;

$color-red:					#dc5f50;
$color-light-red:			#eb7869;

$color-orange:				#ec9f48;
$color-light-orange:		#f5be50;

$color-green:				#95c240;
$color-light-green:			#b4d155;

$color-turquoise:			#19a8b2;
$color-light-turquoise:		#43bec6;

// Nav

$navbar-height: 			64px;
$navbar-border-radius:      0 !default;

// Fuentes

$f-font-family-primary: 	'PT Sans', sans-serif;
$f-font-family-secondary: 	'PT Serif', serif;

$f-font-size-base: 			16px;								// 16px			
$f-font-size-xxlarge:		$f-font-size-base * 2.5;			// 40px							
$f-font-size-xlarge:		$f-font-size-base * 2;				// 32px 							
$f-font-size-large:			$f-font-size-base * 1.5; 			// 24px				
$f-font-size-medium:		$f-font-size-base * 1.25;			// 20px				
$f-font-size-small:			$f-font-size-base * 0.875; 			// 14px			
$f-font-size-xsmall:		$f-font-size-base * 0.75;			// 12px

$f-text-shadow-image: 		0 2px 10px rgba(0, 0, 0, 0.1);





