<div class="container-fluid heading">
    <div class="container">
        <h1 class="heading-primary wow fadeInUp">Formulario de consultas</h1>
    </div>
</div><!--/.heading-->
<section id="consultas" class="container wow fadeIn">
   <div class="col-md-10 col-md-offset-1">
      <form role="form" id="consultas-form" class="col-md-12 form-base form-lg">
         <fieldset>
            <div class="row">
               <div class="col-md-6 form-group">
                  <label for="nombre-y-apellido" class="heading-third">Nombre y Apellido *</label>
                  <div class="input-group input-group-lg">
                     <span class="input-group-addon">N</span>
                     <input type="text" class="form-control" id="nombre-y-apellido" placeholder="Ej.: Juan Pérez" />
                  </div>
               </div>
               <div class="col-md-6 form-group">
                  <label for="email" class="heading-third">Email *</label>
                  <div class="input-group input-group-lg">
                     <span class="input-group-addon">@</span>
                     <input type="email" class="form-control" id="email" placeholder="Ej.: ejemplo@ejemplo.com" />
                  </div>
               </div>
            </div><!--/.row-->
            <div class="row">
               <div class="col-md-6 form-group">
                  <label for="telefono" class="heading-third">Teléfono de contacto</label>
                  <div class="input-group input-group-lg">
                     <span class="input-group-addon">#</span>
                     <input type="text" class="form-control" id="telefono" placeholder="Ej.: 1141235678" />
                  </div>
               </div>
               <div class="col-md-6 form-group">
                  <label for="email" class="heading-third">DNI</label>
                  <div class="input-group input-group-lg">
                     <span class="input-group-addon">1</span>
                     <input type="text" class="form-control" id="email" placeholder="Ej.: 12345678" />
                  </div>
               </div>
            </div><!--/.row-->
            <hr class="border-bottom-gray" />
            <div class="row">
               <div class="col-md-6 form-group">
                  <label for="sector" class="heading-third">Sector *</label>
                  <div class="input-group input-group-lg">
                     <span class="input-group-addon">o</span>
                     <select class="form-control">
                        <option value="0">Todas</option>
                        <option value="1">ADM – Administrativo</option>
                        <option value="2">ACU – Cultura, Ciencia y Tecnología</option>
                        <option value="3">AED – Educación</option>
                        <option value="4">ASA – Salud Pública</option>
                        <option value="5">ASE – Seguridad</option>
                        <option value="6">ASO – Acción y Desarrollo Social</option>
                        <option value="7">B – Aduanero</option>
                        <option value="8">C – Aeronáutico-Espacial</option>
                        <option value="9">D – Bancario, Monetario y Financiero</option>
                        <option value="10">E – Civil</option>
                        <option value="11">F – Comercial</option>
                        <option value="12">G – Comunitario</option>
                        <option value="13">H – Constitucional</option>
                        <option value="14">I – De la Comunicación</option>
                        <option value="15">J – Diplomático y Consular</option>
                        <option value="16">K – Económico</option>
                        <option value="17">L – Impositivo</option>
                        <option value="18">M – Industrial</option>
                        <option value="19">N – Internacional Privado</option>
                        <option value="20">O – Internacional Público</option>
                        <option value="21">P – Laboral</option>
                        <option value="22">Q – Medio Ambiente</option>
                        <option value="23">R – Militar</option>
                        <option value="24">S – Penal</option>
                        <option value="25">T – Político</option>
                        <option value="26">U – Procesal Civil y Comercial</option>
                        <option value="27">V – Procesal Penal</option>
                        <option value="28">W – Público Provincial y Municipal</option>
                        <option value="29">X – Recursos Naturales</option>
                        <option value="30">Y – Seguridad Social</option>
                        <option value="31">Z – Transporte y Seguros</option>
                     </select>
                  </div>
               </div>
            </div><!--/.row-->
            <hr class="border-bottom-gray" />
            <div class="row">
               <div class="col-md-6">
                  <div class="form-group">
                     <label for="norma-a-consultar" class="heading-third">Norma a consultar *</label>
                     <div class="input-group input-group-lg">
                        <span class="input-group-addon">?</span>
                        <input type="text" class="form-control" id="norma-a-consultar" placeholder="Ej.: ACU-0191"/>
                     </div>
                  </div><!--/.form-group-->
               </div>
               <div id="file-upload" class="col-md-6 form-group">
                  <div class="row">
                     <div class="col-md-12">
                        <button type="file" id="adjuntar-archivo" class="col-sm-6 col-xs-12 btn btn-primary btn-lg" placeholder="Adjuntar archivo">Adjuntar archivo</button>
                        <div class="col-sm-6 col-xs-12">
                           <p class="ellipsis">nombre_del_archivo_cargado.docx</p>
                        </div>
                     </div>
                  </div><!--/.row-->
               </div><!--/.col-md-6--> 
            </div><!--/.row-->
            <div class="row">
               <div class="col-xs-12">
                  <div class="progress progress-striped active">
                     <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                        <span class="sr-only">45% completado</span>
                     </div>
                  </div><!--/.progress-bar-->
               </div>
            </div><!--/.row-->    
            <div class="row">
               <div class="col-xs-12 form-group">
                  <label for="norma-a-consultar" class="heading-third">Mensaje *</label>
                  <textarea class="form-control" rows="5" placeholder="Escriba aquí su mensaje"></textarea>
               </div>
            </div>
            
            <hr class="border-bottom-gray" />
            <!-- revisar -->

            <div ng-show="requestError">
               <div class="alert alert-error">
                  <p>Ocurrio un error al enviar el formulario, intentelo nuevamente.</p>
               </div>
            </div>

            <div class="row">
               <div class="col-md-12">
                  <p class="col-md-8 text-note">Los datos marcados con * son obligatorios</p>
                  <input class="btn btn-warning btn-lg pull-right col-md-4" type="submit" value="Enviar consulta" {{action submit target="view"}}data-loading-text="Enviando..." />
               </div>
            </div>

            <div id="thenks" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
               <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close" {{action closeThenks target="view"}} aria-hidden="true">×</button>
                        <h3 id="myModalLabel"></h3>
                     </div>
                     <div class="modal-body">
                        <p>Gracias por ponerse en contacto.</p>
                     </div>
                     <div class="modal-footer">
                        <button class="btn btn-primary" {{action closeThenks target="view"}} aria-hidden="true">Cerrar</button>
                     </div>
                  </div>
               </div>
            </div>

         </fieldset>
      </form>
   </div>
</section>