<div id="landing">
    <section id="jumbo-landing"  class="jumbotron">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-md-4">
                    <form role="form" id="landing-form-search" class="col-md-12 form-base">
                        <fieldset>
                            <legend>Buscar normas</legend>
                            <div class="form-group">
                                <label for="norma-nro-codigo">N° / Código de Norma</label>
                                <input type="text" class="form-control" id="norma-nro-codigo" placeholder="Código de Norma">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Categoría</label>
                                <select class="form-control">
                                    <option>ADM – Administrativo</option>
                                    <option>ACU – Cultura, Ciencia y Tecnología</option>
                                    <option>AED – Educación</option>
                                    <option>ASA – Salud Pública</option>
                                    <option>ASE – Seguridad</option>
                                    <option>ASO – Acción y Desarrollo Social</option>
                                    <option>B – Aduanero</option>
                                    <option>C – Aeronáutico-Espacial</option>
                                    <option>D – Bancario, Monetario y Financiero</option>
                                    <option>E – Civil</option>
                                    <option>F – Comercial</option>
                                    <option>G – Comunitario</option>
                                    <option>H – Constitucional</option>
                                    <option>I – De la Comunicación</option>
                                    <option>J – Diplomático y Consular</option>
                                    <option>K – Económico</option>
                                    <option>L – Impositivo</option>
                                    <option>M – Industrial</option>
                                    <option>N – Internacional Privado</option>
                                    <option>O – Internacional Público</option>
                                    <option>P – Laboral</option>
                                    <option>Q – Medio Ambiente</option>
                                    <option>R – Militar</option>
                                    <option>S – Penal</option>
                                    <option>T – Político</option>
                                    <option>U – Procesal Civil y Comercial</option>
                                    <option>V – Procesal Penal</option>
                                    <option>W – Público Provincial y Municipal</option>
                                    <option>X – Recursos Naturales</option>
                                    <option>Y – Seguridad Social</option>
                                    <option>Z – Transporte y Seguros</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">Fecha de sanción</label>
                                <div class="row">
                                    <div class="col-md-6">
                                        <select class="form-control">
                                            <option>2014</option>
                                            <option>2013</option>
                                            <option>2012</option>
                                            <option>2011</option>
                                            <option>2010</option>
                                            <option>2009</option>
                                            <option>2008</option>
                                            <option>2007</option>
                                            <option>2006</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <select class="form-control">
                                            <option>2014</option>
                                            <option>2013</option>
                                            <option>2012</option>
                                            <option>2011</option>
                                            <option>2010</option>
                                            <option>2009</option>
                                            <option>2008</option>
                                            <option>2007</option>
                                            <option>2006</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-warning col-md-12">Buscar normas</button>
                        </fieldset>
                    </form>
                </div>
                <div id ="jumbo-info" class="col-md-8">
                    <h1 class="title-primary">Digesto Jurídico Argentino</h1>
                    <p class="text-p">El Digesto Jurídico Argentino, regula el ordenamiento de las leyes nacionales de carácter general vigente mediante el procedimiento de consolidación normativa, conteniendo además el listado de leyes de carácter general no vigentes y las referencias a las normas aprobadas por organismos supraestatales o intergubernamentales que la Nación integra. </p>
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/#jumbo-landing-->
    <section id="landing-content" class="container">
        <div class="row">
            <article class="col-md-10 col-md-offset-1 article-description">
                <div class="col-md-12">
                    <div class="col-md-9">
                        <h2 class="title-secondary">¿Cómo puedo realizar una consulta?</h2>
                        <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <a ui-sref="#" title="Ingrese una consulta" class="btn btn-warning">Ingrese una consulta</a>
                    </div>
                    <figure class="col-md-3">
                        <img src="#" alt="Envío de consultas" />
                    </figure>
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-md-10 col-md-offset-1 article-description">
                <div class="col-md-12">
                    <div class="col-md-9 pull-right">
                        <h2 class="title-secondary">¿Cómo se constituye el digesto jurídico?</h2>
                        <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <a ui-sref="#" title="Ir a Ley 26.939" class="btn btn-warning">Ver Ley 26.939</a>
                    </div>
                    <figure class="col-md-3 pull-left">
                        <img src="#" alt="Envío de consultas" />
                    </figure>
                </div>
            </article>
        </div>
    </section><!--/#landing-content-->
</div><!--/#landing-->