<section id="landing">
    <section class="jumbotron">
        <div class="container">
            <div class="col-md-10 col-md-offset-1">
                <article id ="jumbo-info" class="col-xs-12 col-md-8 pull-right wow fadeInUp">
                    <h1 class="heading-primary text-bold">Digesto Jurídico Argentino</h1>
                    <p class="hidden-xs hidden-sm text-p">El Digesto Jurídico Argentino, regula el ordenamiento de las leyes nacionales de carácter general vigente mediante el procedimiento de consolidación normativa, conteniendo además el listado de leyes de carácter general no vigentes y las referencias a las normas aprobadas por organismos supraestatales o intergubernamentales que la Nación integra. </p>
                </article>
                <div class="col-xs-12 col-md-4 pull-left">
                    <form role="form" id="landing-form-search" class="col-md-12 form-base">
                        <fieldset>
                            <legend class="text-bold heading-third">Buscar normas </legend>
                            <div class="form-group">
                                <label for="norma-nro-codigo" class="heading-fourth">N° / Código de Norma</label>
                                <input type="text" id="norma-nro-codigo" class="form-control" placeholder="Ingresar n° de norma">
                            </div>
                            <div class="form-group">
                                <label for="categoria" class="heading-fourth">Categoría</label>
                                <select id="categoria" class="form-control">
                                    <option value="0">Todas</option>
                                    <option value="1">ADM – Administrativo</option>
                                    <option value="2">ACU – Cultura, Ciencia y Tecnología</option>
                                    <option value="3">AED – Educación</option>
                                    <option value="4">ASA – Salud Pública</option>
                                    <option value="5">ASE – Seguridad</option>
                                    <option value="6">ASO – Acción y Desarrollo Social</option>
                                    <option value="7">B – Aduanero</option>
                                    <option value="8">C – Aeronáutico-Espacial</option>
                                    <option value="9">D – Bancario, Monetario y Financiero</option>
                                    <option value="10">E – Civil</option>
                                    <option value="11">F – Comercial</option>
                                    <option value="12">G – Comunitario</option>
                                    <option value="13">H – Constitucional</option>
                                    <option value="14">I – De la Comunicación</option>
                                    <option value="15">J – Diplomático y Consular</option>
                                    <option value="16">K – Económico</option>
                                    <option value="17">L – Impositivo</option>
                                    <option value="18">M – Industrial</option>
                                    <option value="19">N – Internacional Privado</option>
                                    <option value="20">O – Internacional Público</option>
                                    <option value="21">P – Laboral</option>
                                    <option value="22">Q – Medio Ambiente</option>
                                    <option value="23">R – Militar</option>
                                    <option value="24">S – Penal</option>
                                    <option value="25">T – Político</option>
                                    <option value="26">U – Procesal Civil y Comercial</option>
                                    <option value="27">V – Procesal Penal</option>
                                    <option value="28">W – Público Provincial y Municipal</option>
                                    <option value="29">X – Recursos Naturales</option>
                                    <option value="30">Y – Seguridad Social</option>
                                    <option value="31">Z – Transporte y Seguros</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="fecha-sancion" class="heading-fourth">Fecha de sanción</label>
                                <div class="row">
                                    <div class="col-xs-6 col-md-12 col-lg-6">
                                        <select id="landing-form-select-since" class="form-control">
                                            <option value="0" disabled selected>Desde</option>
                                            <option value="1">2014</option>
                                            <option value="2">2013</option>
                                            <option value="3">2012</option>
                                            <option value="4">2011</option>
                                            <option value="5">2010</option>
                                            <option value="6">2009</option>
                                            <option value="7">2008</option>
                                            <option value="8">2007</option>
                                            <option value="9">2006</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-6 col-md-12 col-lg-6">
                                        <select class="form-control">
                                            <option value="0" disabled selected>Hasta</option>
                                            <option value="1">2014</option>
                                            <option value="2">2013</option>
                                            <option value="3">2012</option>
                                            <option value="4">2011</option>
                                            <option value="5">2010</option>
                                            <option value="6">2009</option>
                                            <option value="7">2008</option>
                                            <option value="8">2007</option>
                                            <option value="9">2006</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-warning col-md-12 col-sm-4 col-xs-12 pull-right">Buscar normas</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div><!--/.container-->
    </section><!--/.jumbotron-->
    <section id="landing-content">
        <!--div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 ">
                    <article class="col-md-12">
                        <div class="col-md-9">
                            <h2 class="heading-secondary">¿Cómo puedo realizar una consulta?</h2>
                            <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.</p>
                            <a ng-href="#/consultas" title="Ingrese una consulta" class="btn btn-primary">Ingrese una consulta</a>
                        </div>
                        <figure class="hidden-xs hidden-sm col-md-3 wow fadeInRight">
                            <img src="../images/i_consulta.png" alt="Envío de consultas" />
                        </figure>
                    </article>
                </div>
            </div>
        </div-->
        <!--hr class="border-bottom-gray" /-->
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <article class="col-md-12">
                        <div class="col-md-9">
                            <h2 class="heading-secondary">¿Cómo se constituye el digesto jurídico?</h2>
                            <p class="text-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur.</p>
                            <a ng-href="#/ley" title="Ir a Ley 26.939" class="btn btn-primary">Ver Ley 26.939</a>
                        </div>
                        <figure class="hidden-xs hidden-sm col-md-3 wow fadeInRight" data-wow-delay="0.75s">
                            <img src="../images/i_dja.png" alt="Consultas" />
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </section><!--/#landing-content-->
</section><!--/#landing-->