<div class="container-fluid heading">
    <div class="container">
        <h1 class="heading-primary wow fadeInUp">Ley 26.939</h1>
    </div>
</div><!--/.heading-->
<section class="container law wow fadeIn">
	<div class="col-md-10 col-md-offset-1">
		<section class="content-law border-bottom-gray">
			<section class="heading-law">
				<div class="row">
					<div class="col-sm-8 col-sm-offset-2 heading-law-description">
						<p>Aprobación.</p>
						<p>Sancionada: Mayo 21 de 2014 | Promulgada: Mayo 29 de 2014</p>
						<p><strong>El Senado y Cámara de Diputados de la Nación Argentina reunidos en Congreso, etc. sancionan con fuerza de Ley:</strong></p>
					</div>
				</div>
				<div class="row">
					<h1 class="text-bold heading-primary">
						Digesto Jurídico Argentino
					</h1>
					<div class="heading-law-data">
						<strong>Ley 26.939</strong>
					</div>
				<div class="row">
			</section>
			<section>
				<h3 class="heading-chapter">CAPITULO I <span>Aprobación</span>
					<i class="fa fa-angle-down"></i>
				</h3>
				<article>
					<p>
						<span class="article-num">ARTICULO 1° — </span>Apruébase el Digesto Jurídico Argentino, consolidado al 31 de marzo de 2013.
					</p>
				</article><!--/.article#1-->
				<article>
					<p>
						<span class="article-num">ARTICULO 2° — </span>Declárense vigentes las normas incorporadas al anexo I<sup><a href="#reference-cha-1-art-2" title="Ver referencia">1</a></sup>, “Leyes nacionales de carácter general vigentes”, que integra la presente ley.
					</p>
				</article><!--/.article#2-->
				<article>
					<p>
						<span class="article-num">ARTICULO 3º — </span>Declárense no vigentes las normas identificadas en el anexo II<sup><a href="#reference-cha-1-art-3" title="Ver referencia">2</a></sup>, “Leyes nacionales de carácter general no vigentes”, que integra la presente ley.
					</p>
				</article><!--/.article#3-->
				<article>
					<p>
						<span class="article-num">ARTICULO 4º — </span>Apruébase la referencia a las normas aprobadas por organismos supraestatales o intergubernamentales de integración de los que la Nación es parte, que se adjunta como anexo III<sup><a href="#reference-cha-1-art-4" title="Ver referencia">3</a></sup>.
					</p>
				</article><!--/.article#4-->
				<ul class="references law-references">
					<li id="reference-cha-1-art-2"><a ui-sref="#" title="Ver anexos">1 Los anexos se publican en el DVD adjunto.</a></li>
					<li id="reference-cha-1-art-3"><a ui-sref="#" title="Ver anexos">2 Los anexos se publican en el DVD adjunto.</a></li>
					<li id="reference-cha-1-art-4"><a ui-sref="#" title="Ver anexos">3 Los anexos se publican en el DVD adjunto.</a></li>
				</ul>
			</section><!--/.chapter#1-->
			<section>
				<h3 class="heading-chapter">CAPITULO II <span>Principios y contenido</span>
					<i class="fa fa-angle-down"></i>
				</h3>
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 5º — </span>La presente ley regula el ordenamiento de las leyes nacionales de carácter general vigentes por medio del procedimiento de consolidación normativa denominado Digesto Jurídico Argentino.
					</p>
				</article><!--/.article#5-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 6º — </span>El Digesto Jurídico Argentino contiene:
						<div class="row">
							<ol class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 list-subsection">
								<li>Las leyes nacionales de carácter general vigentes, ordenadas por categorías;</li>
								<li>Un anexo con las leyes nacionales de carácter general no vigentes, ordenado por categorías;</li>
								<li>La referencia a las normas aprobadas por organismos supraestatales o intergubernamentales de integración de los que la Nación sea parte.</li>
							</ol>
						</div>
					</p>
				</article><!--/.article#6-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 7° — </span>Las leyes que integren el Digesto Jurídico Argentino se identificarán por categorías con la letra correspondiente de acuerdo a la siguiente enumeración: 
						<div class="row">
							<ul class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 list-subsection">
								<li>ADM) Administrativo;</li>
								<li>ACU) Cultura, Ciencia y Tecnología;</li>
								<li>AED) Educación;</li>
								<li>ASA) Salud Pública;</li>
								<li>ASE) Seguridad;</li>
								<li>ASO) Acción y Desarrollo Social;</li>
								<li>B) Aduanero;</li>
								<li>C) Aeronáutico-Espacial;</li>
								<li>D) Bancario, Monetario y Financiero;</li>
								<li>E) Civil;</li>
								<li>F) Comercial;</li>
								<li>G) Comunitario;</li>
								<li>H) Constitucional;</li>
								<li>I) De la Comunicación;</li>
								<li>J) Diplomático y Consular;</li>
								<li>K) Económico;</li>
								<li>L) Impositivo;</li>
								<li>M) Industrial;</li>
								<li>N) Internacional Privado;</li>
								<li>O) Internacional Público;</li>
								<li>P) Laboral;</li>
								<li>Q) Medio Ambiente;</li>
								<li>R) Militar;</li>
								<li>S) Penal;</li>
								<li>T) Político;</li>
								<li>U) Procesal Civil y Comercial;</li>
								<li>V) Procesal Penal;</li>
								<li>W) Público Provincial y Municipal;</li>
								<li>X) Recursos Naturales;</li>
								<li>Y) Seguridad Social;</li>
								<li>Z) Transporte y Seguros.</li>
							</ul>
						</div>
					</p>
				</article><!--/.article#7-->
			</section><!--/.chapter#2-->
			<section>
				<h3 class="heading-chapter">CAPITULO III <span>Comisión Bicameral Permanente del Digesto Jurídico Argentino</span>
					<i class="fa fa-angle-down"></i>
				</h3>
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 8° — </span>Créase en el ámbito del Honorable Congreso de la Nación la Comisión Bicameral Permanente del Digesto Jurídico Argentino que será continuadora de la Comisión Bicameral de Seguimiento y Coordinación para la Confección del Digesto Jurídico Argentino.
					</p>
					<p>
						Estará integrada por cuatro (4) senadores y cuatro (4) diputados, designados por cada una de las Cámaras, que formen parte de al menos una de las siguientes comisiones: de Asuntos Constitucionales, de Asuntos Penales y Regímenes Carcelarios, de Legislación General y de Presupuesto y Hacienda.
					</p>
					<p>
						La comisión bicameral dictará para sí su propio reglamento de funcionamiento.
					</p>
				</article><!--/.article#8-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 9° — </span>La Comisión Bicameral Permanente del Digesto Jurídico Argentino tendrá las siguientes atribuciones:
						<div class="row">
							<ol class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 list-subsection">
								<li>Analizar las actualizaciones del Digesto Jurídico Argentino propuestas por el organismo de asistencia técnica y, en su caso, emitir el dictamen correspondiente para su aprobación por el Honorable Congreso de la Nación, conforme lo establecido en el capítulo IV;</li>
								<li>Coordinar y supervisar la edición electrónica del Digesto Jurídico Argentino;</li>
								<li>Resolver las consultas y las observaciones recibidas, previa recomendación de la Dirección de Información Parlamentaria, conforme lo establecido en el capítulo V;</li>
								<li>Organizar actividades de difusión y publicidad del Digesto Jurídico Argentino. Especialmente, promover la difusión gratuita de la edición electrónica del Digesto Jurídico Argentino.</li>
							</ol>
						</div>
					</p>
				</article><!--/.article#9-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 10. — </span>En el ejercicio de sus atribuciones, la Comisión Bicameral Permanente del Digesto Jurídico Argentino contará con la asistencia técnica de la Dirección de Información Parlamentaria de la Honorable Cámara de Diputados de la Nación.
					</p>
				</article><!--/.article#10-->
			</section><!--/.chapter#3-->
			<section>
				<h3 class="heading-chapter">CAPITULO IV <span>Procedimiento de actualización</span>
					<i class="fa fa-angle-down"></i>
				</h3>
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 11. — </span>Transcurridos cinco (5) días desde la publicación de una ley en el Boletín Oficial, la Dirección de Información Parlamentaria la incorporará al sitio web del Digesto Jurídico Argentino, encuadrándola en la categoría correspondiente de acuerdo con las establecidas en el artículo 7°.
					</p>
				</article><!--/.article#11-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 12. — </span>La Dirección de Información Parlamentaria propondrá a la comisión bicameral la actualización del Digesto Jurídico Argentino conforme al procedimiento establecido en el presente capítulo.
					</p>
				</article><!--/.article#12-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 13. — </span>Sin perjuicio de lo establecido en el artículo 11, y a los fines de la actualización del Digesto Jurídico Argentino, la Dirección de Información Parlamentaria planteará:
						<div class="row">
							<ol class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 list-subsection">
								<li>La consolidación de las normas en los casos que pudiere corresponder;</li>
								<li>La identificación de las normas que han perdido vigencia durante el período de actualización.</li>
							</ol>
						</div>
					</p>
				</article><!--/.article#13-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 14. — </span>En el procedimiento de actualización del Digesto Jurídico Argentino se observarán las siguientes pautas técnicas:
						<div class="row">
							<ol class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 list-subsection">
								<li>Consolidación: importa la refundición en un solo texto legal de normas análogas sobre una misma materia;</li>
								<li>Ordenación: importa la aprobación de textos ordenados de materias varias veces reguladas o modificadas parcialmente;</li>
								<li>Cantidades: las cifras o cantidades se expresarán en letras y números. En caso de posible divergencia se tendrá por válido lo expresado en letras.</li>
							</ol>
						</div>
					</p>
				</article><!--/.article#14-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 15. — </span>No podrán introducirse modificaciones que alteren el espíritu de las leyes.
					</p>
				</article><!--/.article#15-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 16. — </span>Las leyes se identificarán por la letra de la categoría correspondiente y un número arábigo, cardinal y corrido, respetando la fecha de sanción.
					</p>
				</article><!--/.article#16-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 17. — </span>Corresponde al Poder Ejecutivo nacional la determinación de la autoridad de aplicación específica de las leyes.
					</p>
				</article><!--/.article#17-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 18. — </span>Al menos una vez por período parlamentario, la Dirección de Información Parlamentaria elevará a consideración de la comisión bicameral el detalle de las actualizaciones que propone introducir al Digesto Jurídico Argentino.
					</p>
					<p>
						La comisión bicameral aprobará las actualizaciones por el voto de la mayoría simple de sus integrantes y emitirá el dictamen correspondiente para su aprobación por el Honorable Congreso de la Nación, alternando cada año la Cámara de inicio.
					</p>
					<p>
						La aprobación de las actualizaciones por ambas Cámaras importará su incorporación de pleno derecho al Digesto Jurídico Argentino.
					</p>
				</article><!--/.article#18-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 19. — </span>Otras funciones de la Dirección de Información Parlamentaria serán:
						<div class="row">
							<ol class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 list-subsection">
								<li>Recopilar los textos de las normas identificadas en el anexo II “Leyes nacionales de carácter general no vigentes”;</li>
								<li>Estudiar las consultas y observaciones recibidas y elevar a la comisión bicameral las recomendaciones pertinentes para su resolución, de conformidad con lo establecido en el capítulo V;</li>
								<li>Mantener y actualizar el contenido del sitio web del Digesto Jurídico Argentino.</li>
							</ol>
						</div>
					</p>
				</article><!--/.article#19-->
			</section><!--/.chapter#4-->
			<section>
				<h3 class="heading-chapter">CAPITULO V <span>Período de observación y publicidad</span>
					<i class="fa fa-angle-down"></i>
				</h3>
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 20° — </span>Durante un período de ciento ochenta (180) días corridos desde la publicación de la presente ley, la Comisión Bicameral Permanente del Digesto Jurídico Argentino dará a publicidad el contenido del Digesto Jurídico Argentino.
					</p>
					<p>
						En dicho plazo, la comisión bicameral recibirá las consultas y observaciones fundadas que pudieran efectuarse en relación con el encuadramiento en una categoría, la consolidación del texto o la vigencia de una ley incluida en el Digesto Jurídico Argentino.
					</p>
				</article><!--/.article#20-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 21° — </span>De las consultas y observaciones recibidas, la comisión bicameral dará vista a la Dirección de Información Parlamentaria para que, en un plazo de diez (10) días hábiles, efectúe una recomendación. Vencido el plazo, la comisión bicameral adoptará una resolución respecto de la consulta u observación planteada.
					</p>
				</article><!--/.article#21-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 22° — </span>La resolución que ratifique o rectifique el encuadramiento, consolidación o vigencia observados, deberá ser aprobada por la mayoría de los miembros de la Comisión Bicameral Permanente del Digesto Jurídico Argentino sin necesidad de otro procedimiento ratificatorio posterior y se dará cuenta de la misma a los miembros de ambas Cámaras.
					</p>
				</article><!--/.article#22-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 23° — </span>Transcurrido el período de ciento ochenta (180) días corridos, y resueltas las observaciones, se dispondrá la publicación en el Boletín Oficial de la versión definitiva del Digesto Jurídico Argentino.
					</p>
				</article><!--/.article#23-->
			</section><!--/.chapter#5-->
			<section>
				<h3 class="heading-chapter">CAPITULO VI <span>Edición electrónica</span>
					<i class="fa fa-angle-down"></i>
				</h3>
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 24° — </span>La edición electrónica del Digesto Jurídico Argentino tendrá el mismo valor jurídico que su publicación en la versión impresa del Boletín Oficial. Deberá garantizar la integridad, autenticidad e inalterabilidad de su contenido, así como su más amplia disponibilidad.
					</p>
				</article><!--/.article#24-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 25° — </span>La edición electrónica del Digesto Jurídico Argentino y las actualizaciones previstas en el capítulo IV estarán disponibles a través de un sitio web específico habilitado al efecto.
					</p>
				</article><!--/.article#25-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 26° — </span>La edición electrónica del Digesto Jurídico Argentino deberá aplicar los estándares abiertos para publicaciones digitales y adecuarse a los principios de accesibilidad y usabilidad, garantizando la libre disponibilidad de su contenido para todos los habitantes. La comisión bicameral deberá considerar su permanente adaptación al progreso tecnológico y su conformidad con la normativa vigente en la materia.
					</p>
				</article><!--/.article#26-->
			</section><!--/.chapter#6-->
			<section>
				<h3 class="heading-chapter">CAPITULO VII <span>Disposiciones finales</span>
					<i class="fa fa-angle-down"></i>
				</h3>
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 27° — </span>Deróganse las leyes 20.004 y 24.967.
					</p>
				</article><!--/.article#27-->
				<article class="article">
					<p>
						<span class="article-num">ARTICULO 28° — </span>Comuníquese al Poder Ejecutivo nacional.
					</p>
				</article><!--/.article#28-->
			</section><!--/.chapter#7-->
		</section>
		<section class="annex">
			<p>DADA EN LA SALA DE SESIONES DEL CONGRESO ARGENTINO, EN BUENOS AIRES, A LOS VEINTIUN DIAS DEL MES DE MAYO DEL AÑO DOS MIL CATORCE.</p>
			<p>— REGISTRADA BAJO EL Nº 26.939 —</p>
			<ul class="law-signatories">
				<li>JULIAN A. DOMINGUEZ</li>
				<li>AMADO BOUDOU</li>
				<li>Lucas Chedrese</li>
				<li>Juan H. Estrada</li>
			</ul>
			<small>
				NOTA: El/los Anexo/s que integra/n este(a) Ley se publican en la edición web del BORA —www.boletinoficial.gov.ar— y también podrán ser consultados en la Sede Central de esta Dirección Nacional (Suipacha 767 - Ciudad Autónoma de Buenos Aires).
			</small>
		</section><!--/.anexo-->
	</div>
</section><!--/#texto-ley-->