<div class="container-fluid heading">
    <div class="container">
        <h1 class="heading-primary wow fadeInUp">Legislación del Digesto Jurídico Argentino</h1>
    </div>
</div><!--/.heading-->
<section id="normativa" class="container wow fadeIn">
    <div class="row">
        <section id="normativa-main">
            <div class="col-md-3 col-xs-12 pull-right">
                <aside id="normativa-filters" class="main-aside">
                    <form role="form" id="normativa-filters" class="form-base">
                        <fieldset>
                            <legend class="heading-third heading-aside text-bold">Filtrar resultados</legend>
                            <section id="normativa-filters-tags" class="filters">
                                <button class="tag filters-tags" ng-repeat="filter in activeFilters">{{filter.name}} <i class="fa fa-remove" ng-click="deleteFilter('{{filter.value}}')"></i></button>
                                <a href="#" title="Mostrar todos" ng-show="activeFilters.length > 0 " class="show-all">mostrar todos (+{{activeFilters.length}})</a>
                            </section><!--/#normativa-filters-tags-->
                            <div>
                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <label for="filters-word" class="heading-fourth">Palabra o término</label>
                                        <input type="text" id="filters-word" class="form-control"/>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-6">
                                        <label for="filters-categorias" class="heading-fourth">Categoría</label>
                                        <select ng-model="currentCategory" ng-options="category.name for category in categories" class="form-control"  ng-change="addCategoryFilter()">
                                            <option value="NONE" selected disabled>Todas </option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-6">
                                        <label for="filters-fecha-sancion" class="heading-fourth">Fecha de sanción</label>
                                        <div class="row">
                                            <div class="col-sm-6">
                                               <select ng-model="currentSinceDate" ng-options="date for date in dates" class="form-control" ng-change="checkDateFilter()" >
                                                    <option value="" selected>Desde</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <select ng-model="currentUntilDate" ng-options="date for date in dates" class="form-control"  ng-change="checkDateFilter()">
                                                    <option value="" selected>Hasta</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--div class="row">
                                    <div class="form-group col-md-12 col-xs-6">
                                        <label for="filters-tema" class="heading-fourth">Tema</label>
                                         <select ng-model="temaActual" ng-options="tema.nombre  for tema in temas" class="form-control"  ng-change="addTopicFilter()" >
                                              <option value="NONE" selected disabled>Todos </option>
                                         </select>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-6">
                                        <h4 class="heading-fourth">Estado</h4>
                                        <label class="heading-fifth">
                                            <input type="checkbox"> Consolidadas en DJA
                                        </label>
                                        <label class="heading-fifth">
                                            <input type="checkbox"> En proceso de consolidación
                                        </label>
                                    </div>
                                </div--><!--/.row-->
                            </div>
                        </fieldset>
                    </form>
                </aside>
            </div>
            <div class="col-md-9 col-xs-12 pull-left">
                <div class="nav-path-header" ng-show="showResult">
                    <div class="col-xs-12">
                        <p class="text-p"><strong>{{resultadosTotales}}</strong> resultados para <strong>"{{textoBusqueda}}"</strong></p>
                    </div>
                </div>
                <section id="normativa-main-list">
                    <ul class="list-group">
                        <li id="list-header" class="col-md-12 hidden-sm hidden-xs">
                            <ul class="row">
                                <div class="col-md-5 list-data">
                                    <div class="row">
                                        <li class="col-md-4">
                                            <a title="Fecha" class="heading-fifth">Fecha<span class="caret"></span></a>
                                        </li>
                                        <li class="col-md-4">
                                            <a title="Número de Norma" class="heading-fifth">N° Norma<span class="caret"></span></a>
                                        </li>
                                        <li class="col-md-4">
                                            <a title="Código de Norma" class="heading-fifth">Código<span class="caret"></span></a>
                                        </li>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <li class="col-md-12"><a href="#" title="Descripción" class="heading-fifth">Descripción</a></li>
                                    </div>
                                </div>
                           </ul>
                        </li>
                        <li class="list-item col-md-12" ng-repeat="respuesta in respuestas">
                            <ul class="row">
                                <div class="col-md-5 list-data">
                                    <div class="row">
                                        <li id="list-item-fecha" class="col-md-4">{{respuesta.FechaSanc.dia}}/{{respuesta.FechaSanc.mes}}/{{respuesta.FechaSanc.anio}}</li>
                                        <li id="list-item-nro-norma" class="col-md-4">{{respuesta.AntesNorma}}</li>
                                        <li id="list-item-codigo" class="col-md-4">{{respuesta.NumDJA.text}}</li>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <li id="list-item-descripcion" class="col-xs-11">
                                            <h2 class="heading-fourth">
                                                <a href="{{respuesta.NumDJA.link}}" title="Descripción" class="text-bold">{{respuesta.Titulo}}</a>
                                            </h2>
                                            <p class="text-p-small">Quisque iaculis orci vitae scelerisque feugiat. Aliquam sollicitudin leo purus, at efficitur nulla lobortis eget. </p>
                                        </li>
                                        <li class="col-xs-1">
                                            <i class="fa fa-check consolidada"data-toggle="tooltip" data-placement="left" title="Norma consolidada en el Digesto Jurídico Argentino"></i>
                                            <!--i class="fa fa-clock-o no-consolidada"></i-->
                                        </li>
                                    </div><!--/.row-->
                                </div><!--/.col-md-7-->
                           </ul><!--/.row-->
                        </li><!--/.list-item-->
                    </ul><!--/.list-group-->
                </section><!--/#normativa-main-list-->
                <div ng-include src='"partials/paginador.html"'></div>
            </div>
        </section><!--/#normativa-main-->
    </div><!--/.row-->
</section><!--/#normativa-->
